<mat-form-field hideRequiredMarker>
  <mat-chip-list #chipList>
    <mat-chip color="warn" *ngFor="let cohort of cohorts" [selectable]="selectable" [removable]="removable"
      (removed)="remove(cohort)">
      {{cohort}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>

    <input placeholder="Cohorts" #cohortInput [formControl]="cohortCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)" required>
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let cohort of filteredcohorts | async" [value]="cohort">
      {{cohort}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>