<div class="qa-app-title">
  Trainer - Course Feedback Summary
</div>

<div style="display: flex; justify-content: center">
  <mat-spinner [diameter]="70" *ngIf="dataLoading"></mat-spinner>
</div>

<mat-card *ngIf="!dataLoading">
  <mat-card-subtitle>
    Trainer Courses
  </mat-card-subtitle>

  <mat-card-content>
    <div style="display: flex; justify-content: center">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Course Column -->
        <ng-container matColumnDef="course">
          <th mat-header-cell *matHeaderCellDef> Course</th>
          <td mat-cell *matCellDef="let element"> {{element.course.courseName}} </td>
        </ng-container>

        <!-- Start Column -->
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef> Start</th>
          <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
        </ng-container>

        <!-- End Column -->
        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef> End</th>
          <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="feedback-status">
          <th mat-header-cell *matHeaderCellDef> Feedback Status</th>
          <td mat-cell *matCellDef="let element"> {{element.feedbackStatus}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="data-row" mat-row
            *matRowDef="let row; columns: displayedColumns;"
            matTooltip="Select to access Trainer Feedback Form for {{row.course.courseName}} course"
            [routerLink]="getFeedbackUrl(row.id)">
      </table>
    </div>
  </mat-card-content>

</mat-card>

