<mat-card>
  <mat-form-field>
    <input matInput [ngModel]="experience.job" (ngModelChange)="onTitleChange($event)">
  </mat-form-field><br>
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Start Date" [ngModel]="experience.start_date"
      (ngModelChange)="onStartDateChange($event)">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="End Date" [ngModel]="experience.end_date"
      (ngModelChange)="onEndDateChange($event)">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field><br>
  <mat-form-field>
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
      [ngModel]="experience.detail" (ngModelChange)="onDetailChange($event)"></textarea>
  </mat-form-field>

  <!-- <button mat-button (click)="onSave()">Save Changes</button> -->
  <br><button mat-button color="warn" (click)="deleteExp()">Remove this Expereience</button>

</mat-card>