<h1 mat-dialog-title>Add Course</h1>
<mat-dialog-content>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Course</mat-label>
    <mat-select [ngModel]="data.selectedCourse" (ngModelChange)="data.selectedCourse = $event; data.selectedDuration = $event.duration || 5">
      <mat-option *ngFor="let course of data.availableCourses" [value]="course" required>
        <strong>{{course.courseCode}}</strong> {{course.courseCode ? '-' : ''}} {{course.courseName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Trainer</mat-label>
    <mat-select [(ngModel)]="data.selectedTrainer">
      <mat-option *ngFor="let trainer of data.availableTrainers" [value]="trainer" required>
        <strong>{{trainer.user?.firstName}}
          {{trainer.user?.lastName}}</strong> {{trainer.user?.firstName || trainer.user?.lastName ? '-' : ''}}
        {{trainer.user?.userName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
    <mat-label>Location</mat-label>
    <mat-select [(ngModel)]="data.selectedLocation">
      <mat-option *ngFor="let location of data.availableLocations" [value]="location" required>
        <strong>{{location.name}}</strong> - {{location.address}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Duration</mat-label>
    <input matInput type="number" (ngModelChange)="data.selectedDuration = $event" required
      [ngModel]="data.selectedDuration" [disabled]="!data.selectedCourse">
  </mat-form-field>
</mat-dialog-content> 
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial
    [disabled]="!(data.selectedCourse && data.selectedDuration && data.selectedTrainer)">Add</button>
</mat-dialog-actions>