<h2> Qualifications
    <button mat-mini-fab style="float: right" (click)="onNewQualiClick()" [disabled]="isDisabled()">
        <mat-icon>add</mat-icon>
    </button>
</h2>

<mat-accordion *ngFor="let quali of qualifications; index as i">
    <app-cv-qualis [qualification]="quali" (qualifications1Change)="quali = $event"
                   (qualificationDeletion)="onDeleteQualiEvent(i)" (feedbackClick)="onFeedbackClick(i, qualifications)" [canEdit]="canEdit">
    </app-cv-qualis>
</mat-accordion>
