.portal-apps {
    display: grid;
    grid-template-columns: 33% 33% 33%;

    @media only screen and (max-width: 1280px) {
        grid-template-columns: 50% 50%;
    }

    @media only screen and (max-width: 800px) {
        grid-template-columns: 100%;
    }
}