app-portal-side-menu {
  height: 100%;
  mat-drawer-container {
    height: 100%;
  }

  .mat-drawer-inner-container {
    overflow-x: hidden;
    overflow-y: hidden;
  }


  .mat-drawer.portal-drawer {
    display: flex;
    flex: 1;
    width: 56px;
    // https://github.com/angular/components/issues/9837
    // transition: all 0.2s ease-in-out;
    background-color: mat-color($theme-primary);
    color: $light-primary-text;

    .side-menu-content-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;

      .side-menu-body {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
      }

      // .side-menu-fixed-bottom {}
    }

    .drawer-toggle {
      border-top: 1px;
      border-top-style: solid;
      border-color: $light-dividers !important;

      mat-icon {
        transition: transform 0.1s ease-in-out;
        transform: rotate(0deg);
      }
    }
  }

  .expanded {
    .mat-drawer.portal-drawer {
      width: 300px;

      .section-title {
        padding: 0.25rem 0 !important;
        height: 24px !important;
        border-color: $light-dividers !important;

      }

      .drawer-toggle {
        mat-icon {
          transform: rotate(180deg);
        }
      }

    }
  }

  main {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    overflow-y: hidden;
  }
}
