<mat-drawer-container class="portal-drawer-container">
  <mat-drawer #drawer mode="side" [opened]="sideMenuService.sideMenuOpen">
    <app-portal-side-menu-content></app-portal-side-menu-content>
  </mat-drawer>
  <mat-drawer-content>
    <main>
      <!-- <div *ngIf="!openedDrawer">
        <button style="color: #0060B9; margin-top: 10px;" type="button" mat-icon-button (click)="setOpened(true)">
          <mat-icon>menu</mat-icon>
        </button>
      </div> -->
      <div style="margin: 15px; width: 100%;">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
