<mat-card>
  <div class="input-div">
    <mat-form-field class="example-full-width">
      <textarea matInput [ngModel]="qualifications1.qualificationDetails"
        (ngModelChange)="onInputChange($event)" [disabled]="getEditValue()"></textarea>
    </mat-form-field>
    <button class="feedback-button" mat-button (click)="onFeedbackClick($event)" title="Show Feedback">
      <mat-icon>feedback</mat-icon>
    </button>
  </div>
  <mat-card-actions>
    <button mat-button color="warn" (click)="deleteQuali()" title="Remove this Qualification"  [disabled]="getEditValue()">Remove</button>
  </mat-card-actions>
</mat-card>