<div class='trainee-reflection-history'>
  <div class='reflection-history-heading'>
    <h5 class='title'>
      This Week:
    </h5>
  </div>
  <div>
    <span class='left'>Self Reflection Form:</span><span class='right'>26/07/2019</span>
  </div>
  <div class='self-reflection-heading'>
    <h5 class='title'>
      Previous Weeks:
    </h5>
  </div>
  <mat-table [dataSource]='dataSource' class="mat-elevation-z8">
    <ng-container matColumnDef="content">
      <mat-cell *matCellDef="let element"> Self Relfection Form </mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-cell *matCellDef="let reflection"> {{reflection.date}} </mat-cell>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedComuns;"></tr>
  </mat-table>
  
  <div class='past-reflection-grid-container'>
    
  </div>
</div>