<div class='self-reflection-history' class="mat-elevation-z8">
  <div class='reflection-history-heading'>
    <h5 class='title'>
      This Week:
    </h5>
  </div>
  <table class="mat-elevation-z4">
    <tr><td>Self Reflection Form:</td><td><a href=''>{{upcomingFriday | date : 'dd-MM-yyyy'}}</a></td></tr>
  </table>

  <div class='self-reflection-heading'>
    <h5 class='title'>
      Previous Weeks:
    </h5>
  </div>
  <table mat-table [dataSource]='dataSource' class="mat-elevation-z8">

    <ng-container matColumnDef='content'>
      <mat-cell *matCellDef='let element'> {{element.content}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef='date'>
      <mat-cell *matCellDef='let element'> <a href=''>{{element.date}}</a> </mat-cell>
    </ng-container>

    <tr mat-row *matRowDef='let row; columns: displayedColumns;'></tr>
  </table>

  <mat-paginator [pageSizeOptions]='[5,10,20]' showFirstLastButtons></mat-paginator>
</div>