<div class="qa-app-title">
  Trainee Self Reflection History
</div>

<div style="display: flex; justify-content: center">
  <mat-spinner [diameter]="70" *ngIf="loadingData"></mat-spinner>
</div>

<mat-card *ngIf="!loadingData">
<!--  <mat-card-title>-->
<!--    Self Reflection History-->
<!--  </mat-card-title>-->

  <mat-card-subtitle style="color: #0060B9;">
    Current Form
  </mat-card-subtitle>

  <mat-card-content>
    <div style="display: flex; justify-content: center">
      <table mat-table [dataSource]="currentFormDateSource" class="mat-elevation-z8 full-width">

        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef> Form Type</th>
          <td mat-cell *matCellDef="let element">
            Self Reflection Form - Week {{dataSource.data.length + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Form Date</th>
          <td mat-cell
              *matCellDef="let element"> {{element.formDate}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Form Status</th>
          <td mat-cell
              *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="data-row" mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="getReflectionUrl(row.id)">
      </table>
    </div>
  </mat-card-content>

  <div style="margin-bottom: 30px;"></div>

  <mat-card-subtitle>
    Reviewed Forms
  </mat-card-subtitle>

  <mat-card-content>
    <div style="display: flex; justify-content: center">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">

        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef> Form Type</th>
          <td mat-cell *matCellDef="let element; let i = index">
            Self Reflection Form - Week {{dataSource.data.length - i}}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Form Date</th>
          <td mat-cell
              *matCellDef="let element"> {{element.formDate}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Form Status</th>
          <td mat-cell
              *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="data-row" mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="getReflectionUrl(row.id)">
      </table>
    </div>

  </mat-card-content>

</mat-card>
