

mat-action-list.qa-action-list {

    .mat-list-item {
        border: 1px solid $dark-dividers;
        border-bottom-width: 0px;
        .mat-list-item-content {
            font-size: 14px;
        }

        &:first-of-type {
            border-radius: 5px 5px 0 0;
        }
        &:last-of-type {
            border-radius: 0 0 5px 5px;
            border-bottom-width: 1px;
        }
    }
}