<div class="qa-app-title">
  Trainer - Course Feedback
</div>

<div style="display: flex; justify-content: center; margin-top: 20px">
  <mat-spinner [diameter]="70" *ngIf="!dataLoaded"></mat-spinner>
</div>

<div *ngIf="dataLoaded">
  <app-qa-form [model]="viewModel"
               (modelChange)="viewModel = $event">
  </app-qa-form>

  <div class="qa-feedback-page-action-container">
    <button mat-raised-button (click)="onSubmit()">
      {{formCompleted() ? 'Submit' : 'Save'}}
    </button>
  </div>
</div>
