<mat-card>
  <mat-card-subtitle>
    {{value.body}}
  </mat-card-subtitle>
  <mat-card-content>
    <div *ngIf="!!value.selectionOptionsList[0]">
      <table>
        <tr>
          <mat-radio-group>
            <td *ngFor="let option of value.selectionOptionsList">
              {{option}}
              <mat-radio-button #matRadioButton color="primary" class="qa-radio-button" value={{option}} (change)="setModel(matRadioButton.value)"></mat-radio-button>
            </td>
          </mat-radio-group>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
