<h1>{{cvData?.full_name}}</h1>
<div class="cv-content-wrapper">
        <section>
                <app-cv-profile [profile]="cvData.profile" (profileChange)="cvData.profile = $event"></app-cv-profile>
        </section>
        <section>
                <app-cv-hobbies [hobbies]="cvData.hobbies" (hobbiesChange)="cvData.hobbies = $event"> </app-cv-hobbies>
        </section>
        <section>
                <app-cv-qualis-wrapper [qualifications]="cvData.qualifications"
                        (qualificationsChange)="cvData.qualifications = $event">
                </app-cv-qualis-wrapper>
        </section>
        <section>
                <app-cv-work-exp-wrapper [experiences]="cvData.work_experience"
                        (experiencesChange)="cvData.work_experience = $event">
                </app-cv-work-exp-wrapper>
        </section>

        <!-- <app-cv-qualis></app-cv-qualis>
        <app-cv-work-exp-wrapper></app-cv-work-exp-wrapper>
         -->

        <button (click)="onSave()">Save</button>

</div>