<h1>{{cvData?.fullName}}</h1>
<div class="cv-content-wrapper">
        <!-- <section>
                <app-cv-profile [profile]="cvData.profile" (profileChange)="cvData.profile = $event"></app-cv-profile>
        </section>
        <section>
                <app-cv-hobbies [hobbies]="cvData.hobbies" (hobbiesChange)="cvData.hobbies = $event"> </app-cv-hobbies>
        </section>
        <section>
                <app-cv-qualis-wrapper [qualifications]="cvData.allQualifications"
                        (qualificationsChange)="cvData.allQualifications = $event">
                </app-cv-qualis-wrapper>
        </section>
        <section>
                <app-cv-work-exp-wrapper [experiences]="cvData.allWorkExperience"
                        (experiencesChange)="cvData.allWorkExperience = $event">
                </app-cv-work-exp-wrapper>
        </section> -->


        <app-cv-card-base title="Hobbies and Interests"  [feedback]="cvData.hobbies.hobbiesFeedback">
                <app-cv-hobbies [hobbies]="cvData.hobbies"></app-cv-hobbies>
        </app-cv-card-base>

        <!-- <app-cv-qualis></app-cv-qualis>
        <app-cv-work-exp-wrapper></app-cv-work-exp-wrapper>
         -->

        <button (click)="onSave()">Save</button>

</div>