.qa-radio-btn-grp {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.qa-radio-btn-grp-label {
  background-color: lightgrey;
  color: black;
  margin-bottom: 10px;
}

.qa-radio-btn-layout {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.qa-radio-btn {
  margin-right: 25px;
  border-width: 1px;
  border-color: black;
  color: #004050;
}
