<h1>Cohort</h1>

<div *ngIf="!isLoading">
  <mat-card class="mb-1">
    <mat-card-header>
      <mat-card-title>Details</mat-card-title>
    </mat-card-header>
    <form [formGroup]="cohortForm">
      <mat-card-content>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Cohort Name</mat-label>
          <input formControlName="name" matInput readonly>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Primary Trainer</mat-label>
          <mat-select formControlName="trainerUserName">
            <mat-option *ngFor="let trainer of availableTrainers" [value]="trainer.user.userName" required>
              <strong>{{trainer.user?.firstName}}
                {{trainer.user?.lastName}}</strong> {{trainer.user?.firstName || trainer.user?.lastName ? '-' : ''}}
              {{trainer.user?.userName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Trainees</mat-label>
          <mat-select multiple formControlName="traineeNames">
            <mat-select-trigger>{{cohortForm.value.traineeNames?.join(', ')}}</mat-select-trigger>
            <mat-option *ngFor="let trainee of availableTrainees"
                        [value]="trainee.user?.userName" required>
              <strong>{{trainee.user?.firstName}}
                {{trainee.user?.lastName}}</strong> {{trainee.user?.firstName || trainee.user?.lastName ? '-' : ''}}
              {{trainee.user?.userName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </form>
  </mat-card>

  <mat-card class="mb-1">
    <mat-card-header>
      <mat-card-title>Course Planner - {{viewDate | date:'MMMM y'}}</mat-card-title>
      <div style="margin-left:auto">
        <button mat-button mwlCalendarPreviousView view="month" [(viewDate)]="viewDate">
          Previous
        </button>
        <button mat-button (click)="onCalendarStartClicked()">
          Start
        </button>
        <button mat-button mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </button>
        <button mat-button mwlCalendarNextView view="month" [(viewDate)]="viewDate">
          Next
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>

      <mwl-calendar-month-view class="course-planner-calendar" [(viewDate)]="viewDate" [events]="calendarEvents"
                               (eventTimesChanged)="eventTimesChanged($event)" [refresh]="refreshCalendar"
                               (eventClicked)="eventClicked($event)"
                               (dayClicked)="dayClicked($event)">
      </mwl-calendar-month-view>
    </mat-card-content>
  </mat-card>

<mat-card class="mb-1">
  <mat-card-header>
    <mat-card-title>
      Trainee Usernames
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p *ngFor="let trainee of cohort?.traineeNames">{{trainee}}</p>
  </mat-card-content>
</mat-card>

  <div>
    <button mat-flat-button class="w-100" color="accent" (click)="onSaveCohortClicked()">Update</button>
  </div>
</div>
<app-spinner-overlay [show]="isLoading" fadeBg="true"></app-spinner-overlay>
