<h1>Course</h1>


<mat-card>
  <mat-card-header>
    <mat-card-title>Details</mat-card-title>
  </mat-card-header>

  <form [formGroup]="courseForm">
    <mat-card-content>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Course Code</mat-label>
        <input matInput formControlName="courseCode" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Course Name</mat-label>
        <input matInput formControlName="courseName" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Suggested Duration</mat-label>
        <input matInput formControlName="duration" type="number" min="1" step="1" max="99" pattern="\d*" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Technologies</mat-label>
        <mat-select formControlName="courseTechnologies" multiple>
          <mat-optgroup *ngFor="let category of availableTechCategories" [label]="category.categoryName">
            <mat-option *ngFor="let tech of category.technologies" [value]="tech.id">
              {{tech.technologyName}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

    </mat-card-content>
  </form>
</mat-card>

<button mat-flat-button color="accent" class="w-100 mt-1" (click)="onSaveCourseClicked()" [disabled]="isLoading || courseForm.invalid || courseForm.pristine">Update</button>


<app-spinner-overlay [show]="isLoading" fadeBg="true"></app-spinner-overlay>