<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip color="primary" *ngFor="let role of roles" [selectable]="selectable" [removable]="removable"
      (removed)="remove(role)">
      {{role}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>

    <input placeholder="Roles" #roleInput [formControl]="roleCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let role of filteredRoles | async" [value]="role">
      {{role}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>