<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let role of roles" [selectable]="selectable" [removable]="removable" (removed)="remove(role)">
      {{role}}
    </mat-chip>
    <input placeholder="Add a Role" #roleInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
      [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let role of allRoles | async" [value]="role">
      {{role}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>