<div class="h-100 w-100" style="display: flex;">
  <div class="my-auto w-100">
    <header>
      <h1 class="mat-display-3 text-center" style="margin:0;">{{(appService.currentApplication$ | async)?.portalApplication?.name}}</h1>
      <p class="mat-caption text-center">{{(appService.currentApplication$ | async)?.portalApplication?.description}}</p>
    </header>
    <mat-divider></mat-divider>
    <section role="grid" name="portal-applications" class="portal-apps" [attr.num-of-apps]="(appService.currentApplication$ | async)?.portalProjects?.length || 0">
      <div class="app-card-container" *ngFor="let app of (appService.currentApplication$ | async)?.portalProjects">
        <mat-card class="application-card">
          <mat-card-title style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; line-height: 1.1">
            {{app.name}}
          </mat-card-title>
          <mat-card-content data-simplebar style="height: 200px; margin: 0 -16px -16px;">
            <mat-list>
              <ng-template ngFor let-item [ngForOf]="app?.projectPages">
                <mat-list-item *ngIf="item?.displayOnMenu" [routerLink]="item.url"  >
                    <mat-icon matListIcon [svgIcon]="item.icon">{{item.icon || 'bookmark'}}</mat-icon>
                  <h4 matLine>
                    {{item.name}}
                  </h4>
                </mat-list-item>
              </ng-template>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section name="portal-actions" style="display: flex; flex-direction: column">
      <p class="text-center mat-body-strong">These links can also be found in the side menu.</p>
      <button mat-stroked-button color="primary" class="mx-auto" (click)="sideMenuService.setOpenState(true)"
        [disabled]="sideMenuService.sideMenuOpen">Open side menu</button>
    </section>
  </div>
</div>