<h1>
  Locations
  <button mat-icon-button style="float: right" color="primary" (click)="onAddLocationButtonClicked()"
    title="Add a new location">
    <mat-icon>add</mat-icon>
  </button>
</h1>

<!-- <app-search-bar [hasFilterPanel]="false" (search)="performSearch()" [(value)]="searchInput"></app-search-bar> -->

<app-data-table #dataTable [displayedColumns]="displayedColumns" [dataSource]="locationsTableDataSource"
  [isLoading]="isLoading" (rowClick)="onRowClicked($event)">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let location"> {{location.name}} </td>
  </ng-container>


</app-data-table>