<h1 mat-dialog-title>Edit A User</h1>
<div mat-dialog-content>
  <mat-form-field hideRequiredMarker>
    <input matInput placeholder="Username" disabled [(ngModel)]="data.username" required>
  </mat-form-field>
  <table cellspacing="0">
    <tr>
      <td>
        <mat-form-field hideRequiredMarker>
          <input matInput placeholder="First name" [(ngModel)]="data.firstName" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field hideRequiredMarker>
          <input matInput placeholder="Last Name" [(ngModel)]="data.lastName" required>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-form-field hideRequiredMarker>
    <input matInput type="email" placeholder="Email" [(ngModel)]="data.email" required>
  </mat-form-field>
  <app-role-chips [roles]="data.roles"></app-role-chips>
  <app-cohort-chips [cohorts]="data.cohorts"></app-cohort-chips>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" [(ngModel)]="data.password"
      [disabled]="!passwordEditEnabled">
    <mat-hint>Tick the box below to change the users password</mat-hint>
  </mat-form-field>
  <mat-checkbox class="example-margin" [(ngModel)]="passwordEditEnabled">Change Password</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" cdkFocusInitial (click)="onUpdate()">Save Changes</button>
</div>