<div class="qa-app-title">
  Trainer - Cohort Trainees
</div>
<div class='cohort-trainees'>
  <div class='self-reflection-heading'>
  </div>
  <span class='cohort-pleaseselect'>Please Select a cohort:</span>

  <div class='cohort-grid-container'>
      <table class='table table-striped'>
        <thead class='thead-light'>
        <tr class='cohort-tableheader'>
          <td>ID</td>
          <td>cohort name</td>
        </tr>
        </thead>
  
        <tbody>
  
        <tr *ngFor='let cohort of cohorts' class='cohort-tablerow'>
          <th scope='row'>{{cohort.id}}</th>
          <td>{{ cohort.name }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  <span class='cohort-trainees-pleaseselect'>Please Select a trainee:</span>
  <div class='cohort-trainees-grid-container'>
    <table class='table table-striped'>
      <thead class='thead-light'>
      <tr class='cohort-trainees-tableheader'>
        <td>ID</td>
        <td>user name</td>
        <td>first name</td>
        <td>last name</td>
      </tr>
      </thead>

      <tbody>

      <tr *ngFor='let trainee of trainees' class='cohort-trainees-tablerow'>
        <th scope='row'>{{trainee.id}}</th>
        <td>{{ trainee.userName }}</td>
        <td>{{ trainee.firstName }}</td>
        <td>{{ trainee.lastName }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
