<div class="qa-app-title">
  Trainer - Cohort Trainees
</div>
<div class='cohort-trainees'>
  <span class='cohort-pleaseselect'>Please Select a cohort:</span>

  <mat-accordion multi='false'>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cohort
        </mat-panel-title>
        <mat-panel-description>
          please select a cohort
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-expansion-panel *ngFor="let cohort of cohorts">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{cohort.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{cohort.id}}
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>

        <mat-panel-title>
            Trainees
          </mat-panel-title>
          <mat-panel-description>
              please select a trainee
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-expansion-panel *ngFor="let trainee of trainees">
              <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{trainee.id}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{trainee.userName}}    {{trainee.firstName}}    {{trainee.lastName}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                </mat-expansion-panel>
    </mat-expansion-panel>

  </mat-accordion>
