table{
    width: 100%;
   }

mat-cell{
    font-size: 20px;
}

mat-cell.cdk-column-date{
    position: relative;
    left: 60%;
    top:-32px;
}

.cohort-trainees {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.cohort-row:hover {
  filter: brightness(95%);
  cursor: pointer;
}

.trainee-row:hover {
  filter: brightness(95%);
  cursor: pointer;
}
