table{
    width: 100%;
    border: 1.5px;
    border-style: solid;
    border-color: #0060B9;
    border-spacing: 0px;
}

th{
    border: 1px;
    border-style: solid;
    border-color: #0060B9;
    border-spacing: 0px;
}

td{
    /* 
    border: 1px;
    border-style: solid;
    border-color: #0060B9;
    border-spacing: 0px; 
    text-align: center;
    */
    text-align: center;
    background-color: purple;
}