<h1 mat-dialog-title>Add New Project</h1>
<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Project Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>
  </div>
  
  <div mat-dialog-actions class="action-buttons">
    <button mat-button [mat-dialog-close]="false" [disabled]="isLoading">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSubmit()"
      [disabled]="isLoading || projectForm.invalid">Create</button>
  </div>
</form>
<app-spinner-overlay [show]="isLoading"></app-spinner-overlay>