/* You can add global styles to this file, and also import other style files */


app-cv-search {

    >.mat-card {
        margin-bottom: 1rem;
    }

    .search-input-card {

        .search-input-group {
            display: flex;

            margin-bottom: 1rem;

            .search-input {
                width: 100%;

                .mat-form-field-wrapper {
                    margin: 0;
                    padding: 0;
                }

                .mat-form-field-outline-end {
                    border-radius: 0px;
                    border-right-width: 0px;
                }
            }

            .search-button {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }

            .clear-button {
                cursor: pointer;
                color: map-get($map: $mat-light-theme-foreground, $key: 'icon');

                .mat-icon {
                    font-size: 24px;
                }

                &:hover {
                    color: mat-color($theme-warn)
                }
            }
        }

        .search-filters {
            display: flex;

            .mat-select {
                margin-right: 1rem;

                &:last-of-type {
                    margin-right: 0;
                }

                .mat-select-value {
                    text-align: center;
                }
            }

        }
    }

    .search-results-card {

        .mat-table {
            width: 100%;

            tr.data-row:hover {
                background: map-get($map: $mat-light-theme-background, $key: 'hover');
            }
        }

        .spinner-container {
            display: flex;

            .mat-spinner {
                margin: 1rem auto;
            }
        }
    }
}


app-cv-card-base {
    .mat-drawer-container {
        background: transparent;
    }

    .card-base {
        padding: 0;
    }


    .mat-card-header {
        display: flex;
        flex-direction: row;
        width: 100%;

        .mat-card-header-text {
            margin-top: 12px;
            margin-right: auto;
        }
    }


    .card-base-drawer-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 400px;

        .top {
            display: flex;
            border-bottom: 1px solid $dark-dividers;

            .drawer-title {
                display: flex;
                margin-right: auto;

                >* {

                    margin: auto 0.5em;
                }
            }

        }

        .middle {
            height: 100%;
            overflow-y: auto;
            background: #ececec;
        }

        .bottom {
            overflow: hidden;
            border-top: 1px solid $dark-dividers;
        }

    }

    .comment-field {
        width: 100%;

        input {
            width: 100%;
        }
    }

    .mat-card-content {
        margin: 0;
    }

    .card-base-content-wrapper {
        padding: 0 16px;
    }

    .comment-bubble {
        background: #ffffff;
        /* placeholder colour */
        ;
        border-radius: 0.25rem;
        margin: 0.5rem;
        padding: 0.25rem 1rem;

        .comment-body {
            overflow-wrap: break-word;
        }

        .comment-details {
            display: flex;
            font-size: 11px;
            color: $dark-accent-text;

            .reviewer {
                margin-right: auto;
            }

            .date {}
        }
    }

    .no-comments-text {
        text-align: center;
        color: $dark-disabled-text;
        margin-top: 1rem;
    }


    mat-icon {
        height: unset;
        width: unset;
        /* override base style, reset to default */
    }

    .comment-form {
        display: flex;
    }

    .mat-form-field.comment-field {
        margin: 0 0 -0.5em 0;

        .mat-form-field-flex {
            padding: 0 0.5em;
        }

        .mat-input-element {
            padding-bottom: 0.4em;
        }

        .mat-form-field-suffix {
            cursor: pointer;
        }

    }
}

app-view-cv {
    .page-title {
        @extend .mat-display-2;
        margin-bottom: 1rem;
    }
}


app-cv-work-exp-wrapper {
    .mat-accordion app-cv-work-exp {
        .mat-expansion-panel:not(.mat-expanded) {
            border-radius: 0;
        }

        &:first-of-type .mat-expansion-panel:not(.mat-expanded) {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        &:last-of-type .mat-expansion-panel:not(.mat-expanded) {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}