<h1>
  Current Users
  <button mat-icon-button style="float: right" color="primary" (click)="addDialog()" title="Add a New User">
    <mat-icon>add</mat-icon>
  </button>
</h1>

<app-search-bar [hasFilterPanel]="false"></app-search-bar>

<mat-card class="qa-table-card">
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="qa-table">
      <ng-container matColumnDef="Username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let user"> {{user.username}} </td>
      </ng-container>
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>
      <ng-container matColumnDef="First Name">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
      </ng-container>
      <ng-container matColumnDef="Last Name">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
      </ng-container>
      <ng-container matColumnDef="Roles">
        <th mat-header-cell *matHeaderCellDef>Roles</th>
        <td mat-cell *matCellDef="let user">
          <span *ngIf="user.roles.length<4">
            {{user.roles.join(', ')}}
          </span>
          <span *ngIf="user.roles.length>=4">Multiple...</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="Cohort">
        <th mat-header-cell *matHeaderCellDef>Cohort</th>
        <td mat-cell *matCellDef="let user">
          <li *ngFor="let cohort of user.cohorts">{{cohort}}</li>
        </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button color="primary" (click)="editDialog(user)" title="Edit this users' details">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteConfirmDialog(user)" title="Delete this user">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>