<h1>
  Users
  <button mat-icon-button style="float: right" color="primary" (click)="onAddUserClicked()" title="Add a New User">
    <mat-icon>add</mat-icon>
  </button>
</h1>

<app-search-bar [hasFilterPanel]="false" (search)="performSearch()" [(value)]="searchInput"></app-search-bar>


<app-data-table #table [dataSource]="dataSource" [displayedColumns]="displayedColumns" [isLoading]="isLoading">
  <!-- BULK ACTIONS -->
  <button bulk-action mat-button color="primary" (click)="onUpdateCohortActionClicked()">Change Cohort</button>
  <button bulk-action mat-button color="primary" (click)="onUpdateRoleActionClicked()">Add Role</button>
  <button bulk-action mat-button color="warn" (click)="onDeleteActionClicked()">Delete</button>

  <!-- COLUMNS -->
  <ng-container matColumnDef="Username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let user"> {{user.userName}} </td>
  </ng-container>
  <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>
  <ng-container matColumnDef="First Name">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
  </ng-container>
  <ng-container matColumnDef="Last Name">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
  </ng-container>
</app-data-table>
