.card-base {
    padding: 0;
}


.card-header-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    .mat-card-title  {
        margin-right: auto;
    }
}


.card-base-drawer-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;

    .top {
        display: flex;
        .drawer-title {
            margin-right: auto;

            h5 {
                margin: 0;
            }
        }

    }
    .middle {
        height: 100%;
        overflow-y: auto;
    }
    .bottom {

    }

}

.comment-field {
    width: 100%;
    input {
        width: 100%;
    }
}

.card-base-content-wrapper {
    padding: 16px;
}

.comment-bubble {
    background: #eeeeee; /* placeholder colour */;
    border-radius: 0.25rem;
    margin: 0.5rem;
    padding: 0.25rem 1rem;

    .comment-body {
        overflow-wrap: break-word;
    }

    .comment-details {
        display: flex;
        font-size: 0.8rem;
        line-height: 1;
        font-style: italic;
        .reviewer {
            margin-right: auto;
        }
        .date {

        }
    }
}


mat-icon {
    height: unset;
    width: unset; /* override base style, reset to default */
}