<div class="qa-app-title">
  Trainer Reflection Form Review
</div>

<div style="display: flex; justify-content: center; margin-top: 20px">
  <mat-spinner [diameter]="70" *ngIf="loadingData"></mat-spinner>
</div>

<div *ngIf="!loadingData">
  <div class='title'>
    Self&nbsp;Reflection&nbsp;Form Review - <span class='trainee-firstname'>{{trainee.firstName}}</span>&nbsp;<span
    class='trainee-lastname'>{{trainee.lastName}}</span>&nbsp;
  </div>

  <div style="margin-bottom: 20px;" *ngFor="let categoryName of categoryNames()">
    <mat-card>
      <mat-card-title>{{categoryName}}</mat-card-title>
      <mat-card-subtitle>Current Reflection</mat-card-subtitle>
      <div style="display: flex; flex-direction: row; width: 100%;">
        <div style="flex: 80;">
          <mat-table style="margin-bottom: 20px;" [dataSource]="[currentReflection]">
            <ng-container matColumnDef="start-date">
              <th mat-header-cell style="margin-right: 5%; width: 15%; text-align: left;"
                  *matHeaderCellDef> Form Date
              </th>
              <td mat-cell style="vertical-align: middle; text-align: left; margin-right: 5%; width: 15%;"
                  *matCellDef="let element">
                {{element.formDate}}
              </td>
            </ng-container>
            <div *ngFor="let reflectionQuestion of categoryReflectionQuestions[categoryName]">
              <ng-container style="width: 100%;"
                            matColumnDef="{{getColumnIdAsString(reflectionQuestion.question.id)}}">
                <th mat-header-cell style="margin-right: 10%; text-align: left;"
                    [style.width]='((1 / categoryReflectionQuestions[categoryName].length) * (80 - (categoryReflectionQuestions[categoryName].length * 10))) + "%"'
                    *matHeaderCellDef>{{reflectionQuestion.question.body}}
                </th>
                <td mat-cell style="vertical-align: middle; text-align: center; margin-right: 10%;"
                    [style.width]='((1 / categoryReflectionQuestions[categoryName].length) * (80 - (categoryReflectionQuestions[categoryName].length * 10))) + "%"'
                    *matCellDef="let element">
                  {{getQuestionResponseValueForReflection(element, reflectionQuestion.question.id)}}
                </td>
              </ng-container>
            </div>

            <tr mat-header-row *matHeaderRowDef="getReflectionColumnHeaders(categoryName)"></tr>
            <tr mat-row *matRowDef="let row; columns: getReflectionColumnHeaders(categoryName);"></tr>
          </mat-table>
        </div>

        <div style="flex: 3;"></div>
        <div style="display: flex; flex: 9; flex-direction: column; align-content: flex-start;">
          <label class="trainer-response-label">Trainer Rating For {{categoryName}}</label>
          <div class="trainer-response-input">
            <input size="1"
                   matTooltip="Enter Trainer Rating from 1 to 10 for {{categoryName}}"
                   [(ngModel)]="categoryReflectionQuestions[categoryName][0].trainerResponse">
          </div>
        </div>
        <div style="flex: 5;"></div>
      </div>

      <mat-accordion>
        <mat-expansion-panel>

          <mat-expansion-panel-header>
            Previous Reflections
          </mat-expansion-panel-header>

          <div style="display: flex; flex-direction: row; width: 100%;">
            <mat-table style="flex: 75;" [dataSource]="previousReflections">
              <ng-container matColumnDef="start-date">
                <th mat-header-cell style="margin-right: 5%; width: 15%; text-align: left;"
                    *matHeaderCellDef> Form Date
                </th>
                <td mat-cell style="text-align: left; vertical-align: middle; margin-right: 5%; width: 15%;"
                    *matCellDef="let element">
                  {{element.formDate}}
                </td>
              </ng-container>

              <div *ngFor="let reflectionQuestion of categoryReflectionQuestions[categoryName]">
                <ng-container style="width: 100%;"
                              matColumnDef="{{getColumnIdAsString(reflectionQuestion.question.id)}}">
                  <th mat-header-cell style="text-align: left;"
                      [style.width]='((1 / categoryReflectionQuestions[categoryName].length) * (80 - (categoryReflectionQuestions[categoryName].length * 10))) + "%"'
                      *matHeaderCellDef>{{reflectionQuestion.question.body}}
                  </th>
                  <td mat-cell style="vertical-align: middle; text-align: center; margin-right: 10%;"
                      [style.width]='((1 / categoryReflectionQuestions[categoryName].length) * (80 - (categoryReflectionQuestions[categoryName].length * 10))) + "%"'
                      *matCellDef="let element">
                    {{getQuestionResponseValueForReflection(element, reflectionQuestion.question.id)}}
                  </td>
                </ng-container>
              </div>

              <tr mat-header-row *matHeaderRowDef="getReflectionColumnHeaders(categoryName)"></tr>
              <tr mat-row *matRowDef="let row; columns: getReflectionColumnHeaders(categoryName);"></tr>
            </mat-table>

            <div style="flex: 2;"></div>

            <mat-table style="flex: 13;" [dataSource]="previousReflections">>
              <ng-container matColumnDef="trainer-rating">
                <th mat-header-cell style="text-align: left;"
                    *matHeaderCellDef> Trainer Rating
                </th>
                <td mat-cell style="vertical-align: middle; text-align: center"
                    *matCellDef="let element">
                  {{ getTrainerResponse(element, categoryName) }}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="trainerRatingColumn"></tr>
              <tr mat-row *matRowDef="let row; columns: trainerRatingColumn;"></tr>
            </mat-table>

            <div style="flex: 2;"></div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>

  <div class='trainer-textareas'>
    <div style="display: flex; flex-direction: column;" class='trainer-feedback'>
      <div class='heading'>Trainer Feedback</div>
      <textarea [(ngModel)]="currentReflection.trainerFeedback" style="resize: none;" rows="8" matInput
                placeholder="Trainer Feedback - To be completed by the Trainer"></textarea>
    </div>

    <div style="display: flex; flex-direction: column;" class='learning-pathway'>
      <div class='heading'>Learning Pathway</div>
      <textarea [(ngModel)]="currentReflection.learningPathway" style="resize: none;" rows="8" matInput
                placeholder="Learning Pathway - To be completed by the Trainer"></textarea>
    </div>
  </div>

  <div class='submit-button-wrapper'>
    <button class='submit-button' color="primary" (click)='onSubmit()' mat-raised-button>
      {{ isFormCompleted() ? 'Submit' : 'Save' }}
    </button>
  </div>
</div>
