<div class="qa-app-title">
  Trainer Reflection Form Review
</div>

<div [ngSwitch]="pageState">
  <div *ngSwitchCase="'loading'" class='status'>
    <div class='status-message loading'>
      <div class='loading-bar'>
        <mat-progress-bar mode='indeterminate'></mat-progress-bar>
      </div>
      <div class='message'>
        <p>Checking for Self Reflections...</p>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'error'" class='status'>
    <div class='status-message'>
      <mat-icon class='icon' aria-label='warning'>warning</mat-icon>
      <div class='message'>
        <p>There was an issue retrieving this user's data.</p>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'no-self-reflections'" class='status'>
    <div class='status-message'>
      <mat-icon class='icon' aria-label='sad-face'>sentiment_very_dissatisfied</mat-icon>
      <div class='message'>
        <p>{{noSelfReflectionMessage()}}</p>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'ready'" class='ready'>
    <div class='trainer-reflection'>
      <div class='title'>
        Self&nbsp;Reflection&nbsp;Form Review - <span class='trainee-firstname'>{{trainee.firstName}}</span>&nbsp;<span
          class='trainee-lastname'>{{trainee.lastName}}</span>&nbsp;
      </div>
      <div class='grid-wrapper'>
        <div class='grid-container' [style.height]='(393 + (visibleReflections.length * 60)) + "px"'>
          <mat-grid-list class='grid' rowHeight='100%' *ngFor='let rows of rowData' cols='8'
            [style.width]='(1 / rowData.length * 100) + "%"'>
            <mat-grid-tile colspan='8'>

              <div class='header-container'>
                <span class='header'>{{ rows.category }}</span>
              </div>

              <div class='question-container'>
                <span *ngFor='let question of rows.questions' [style.width]='(1 / rows.questions.length * 100) + "%"'
                  class='question'>{{ question.body }}</span>
              </div>

              <div class='author-wrapper'>
                <div class='author-container' *ngFor='let question of rows.questions, let i = index'
                  [style.width]='(1 / rows.questions.length * 100) + "%"'>
                  <span *ngFor='let author of authors[i%2]' class='author' [style.width]='"50%"'>
                    {{author}}
                  </span>
                </div>
              </div>

              <div class='response-wrapper'>
                <div *ngFor='let question of rows.questions, let questionIndex = index' [style.width]='(1 / rows.questions.length * 100) + "%"'
                  class='response-container'>

                  <div style="display: flex; flex-direction: row;" *ngFor='let reflectionQuestion of question.reflectionQuestions, let i = index' [style.width]='(100) + "%"'>

                    <!-- Trainee -->
                    <input *ngIf="questionIndex % 2 === 1" type='number' [(ngModel)]='reflectionQuestion.response'
                      (keydown.enter)='saveReflectionQuestions()' [disabled]="true"
                           [style.width]='(50) + "%"' class='response' min='1' max='10' />

                    <!-- Trainer -->
                    <input *ngIf="questionIndex % 2 === 1" type='number' [(ngModel)]='reflectionQuestion.trainerResponse'
                      (keydown.enter)='saveReflectionQuestions()' [disabled]="i > 0"
                      [style.width]='(50) + "%"' class='response' min='1' max='10' />

                    <!-- Blank column -->
                    <input *ngIf="questionIndex % 2 === 0"
                           (keydown.enter)='saveReflectionQuestions()' [disabled]="true"
                           [style.width]='(50) + "%"' class='response' />

                    <!-- Trainee -->
                    <input *ngIf="questionIndex % 2 === 0" type='number' [(ngModel)]='reflectionQuestion.response'
                           (keydown.enter)='saveReflectionQuestions()' [disabled]="true"
                           [style.width]='(50) + "%"' class='response' min='1' max='10' />

                  </div>

                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>

        <div class='reflection-dates'>
          <div class='entry' *ngFor='let reflection of visibleReflections'>
            <div>{{ reflection.formDate | date: 'dd/MM/y'}}</div>
          </div>
        </div>

      </div>

      <div class='trainer-textareas'>

        <div style="display: flex; flex-direction: column;" class='trainer-feedback'>
          <div class='heading'>Trainer Feedback</div>
          <textarea [(ngModel)]="trainerFeedback" style="resize: none;" rows="8" matInput
            placeholder="Trainer Feedback - To be completed by the Trainer"></textarea>
        </div>

        <div style="display: flex; flex-direction: column;" class='learning-pathway'>
          <div class='heading'>Learning Pathway</div>
          <textarea [(ngModel)]="learningPathway" style="resize: none;" rows="8" matInput
            placeholder="Learning Pathway - To be completed by the Trainer"></textarea>
        </div>

      </div>

      <div class='submit-button-wrapper'>
        <button class='submit-button' [disabled]='disableInputs' (click)='onSubmit()' mat-raised-button>
          {{ isFormCompleted() ? 'Submit' : 'Save' }}
        </button>
      </div>

    </div>
  </div>
  <div *ngSwitchDefault>

  </div>
</div>
