<div style="display: flex; justify-content: flex-end; margin-top: 10px; margin-bottom: 10px">
  <button type="button" mat-icon-button (click)="toggleDrawer()">
    <mat-icon style="color: #0060B9; margin-right: 10px">close</mat-icon>
  </button>
</div>

<div class="side-menu-panel" >
  <div class="side-menu-title" *ngIf="!errorApp()">
    {{selectedApplication.name}}
  </div>
  <br>
  <div style="margin: 0px; padding: 0px;">
    <div class="side-menu-item"*ngFor="let item of selectedApplication.menuItems">
      <a routerLink="{{item.url}}" mat-menu-item class="menu-item-text"> {{item.name}}</a>
    </div>
  </div>
</div>

