/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr.css';

/* for sidenav to take a whole page */
html, body {
  margin: 0;
  height: 100%;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-icon{
  font-size: 40px;
}

.mat-drawer-inner-container {
  overflow-x: hidden !important;
}

.mat-flat-button {
  background-color: #0060B9;
  color: white;
  width: 100px;
}

.mat-raised-button {
  background-color: #0060B9;
  color: white;
  width: 100px;
}

.portal-base-style {
  border-color: lightgrey;
  border-width: 2px;
  border-style: solid;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 500;
  font-stretch: normal;
  font-size: 20px;
  line-height: 32px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #fff;
}

.qa-app-title {
  justify-content: center;
  text-align: center;
  background-color: #0060B9;
  color: white;
  margin-bottom: 10px;
  width: 100%;
}

textarea {
  border:solid 1px grey;
}


